.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

#menu {
  background-color: antiquewhite;
}

.next {
  display:none;
  border: 1px black solid;
  border-radius: 5px;
  margin-left:100px;
  width: 25%;
}
